<div class="top">
    <div class="l">
        <ul>
            <li>k</li>
            <li>k</li>
            <li>k</li>
        </ul>
    </div>
    <div class="r">
                <ul>
            <li>k</li>
            <li>k</li>
            <li>kvdvfgfgfggffgfgfgbfbfbhggggggggggggggggggggggggggfgfgffgfgfd

            </li>
            <li>k</li>
            <li>k</li>
                  <li>k</li>
                  <li>k</li>            <li>k</li>
                  <li>k</li>            <li>k</li>
                  <li>k</li>            <li>k</li>
                  <li>k</li>            <li>k</li>
                  <li>k</li>




        </ul>
    </div>
</div>
